:root {
    --dark: #002b28;
    --accent: #005b56;
    --action: #00958d;
}

body>header { margin: 0 0 3em; background: var(--accent); position: relative }
body>header>.ui.container { display: flex; align-items: center; }
body>header>*>svg, body>header>*>img { flex: none; max-width: 33%; }
body>header .markdown { padding: 2em; color: #fff; }
@media only screen and (max-width:767.98px) {
    body>header { margin-bottom: 1rem; }
    body>header>.ui.container { flex-direction: column; padding-bottom: 2rem; }
}

.require-status-loading>:not(.status-loading),
.require-status-error>:not(.status-error),
.require-status-success>:not(.status-success) { display: none !important; }

.ui.stackable.grid > .row > .column.ui.divider {
    display: none; padding: 0;
    margin-left: -1em !important; margin-right: -1em !important;
    width: calc(100% + 2em) !important;
}

.number-circle {
    display: grid;
    place-items: center;
    margin: 0 auto 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 1.5em;
    background: var(--accent);
    color: #fff;
}

.editable-link {
    font-weight: bold;
    cursor: text;
    background: var(--accent); color: #fff;
    border: 1px solid var(--accent);
    border-radius: .28571429rem;
    padding: 0.35em 0.4em 0.15em;
    margin: 0 0.15em;
    min-width: 0.5em;
}
.editable-link:focus {
    border-style: solid;
    outline: none;
    background: var(--action);
}
.editable-link:after {
    content: "\200B";
}
.editable-link:empty:after {
    content: attr(aria-placeholder);
    opacity: 0.5;
}

#pages-label {
    font-size: 1.2em; padding: 0.8em 1em; border: 1px solid rgba(34,36,38,.15); border-right: none; border-top-left-radius: 0;
}
#pages-link {
    /* Taken from Fomantic's input element, which unfortunately can't be used outside of one */
    margin: 0; max-width: 100%; -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; outline: 0; -webkit-tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em; padding: 0.75em 1em; background: #fff; color: rgba(0,0,0,.87); text-align: left;
    -webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease; transition: border-color .1s ease,-webkit-box-shadow .1s ease; transition: box-shadow .1s ease,border-color .1s ease; transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease; -webkit-box-shadow: none; box-shadow: none;

    border: 1px solid rgba(34,36,38,.25);
    height: 3.25rem;
    font-size: 1.2rem;
}
#pages-link:focus, #pages-link.focus { border-color: var(--accent); }
#pages-button { border-top-right-radius: 0; padding-left: 1em; padding-right: 1em; }
#pages-button:focus, #pages-button:hover { background-color: var(--action); }
#pages-button, #pages-button:active { background-color: var(--accent); }

@media only screen and (max-width:767.98px) {
    #pages-label { display: none; }
    #pages-link { border-bottom-left-radius: .28571429rem; }
    #pages-link .protocol { display: none; }
    #pages-link .protocol + span { margin-left: -0.5em; }
    .ui.stackable.grid > .row > .column.ui.divider { display: block; }
}
